#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

# we need this, otheriwse GCC won't compile
export DEB_BUILD_MAINT_OPTIONS = hardening=-format
export DEB_BUILD_OPTS = nocheck

# default rule to handover everything to debhelper
%:
	dh $@  --builddirectory=../builddeb --parallel --max-parallel=2 #--with autotools_dev

# we still need to configure GCC on our own
override_dh_auto_configure:
	mkdir -p ../builddeb; cd ../builddeb; ../gcc-5.3.1/configure --target=x86_64-hermit --prefix=/opt/hermit --without-headers --with-newlib --with-isl --disable-multilib --without-libatomic --with-tune=generic --enable-languages=c,c++,go,fortran,lto --disable-nls --disable-shared --disable-libssp --enable-threads=posix --disable-libgomp --enable-tls --enable-lto --disable-symvers
